# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# SQL Server / Visual Studio
bin/
obj/
*.sqlproj.user
*.bak
*.dbmdl
Import Schema Logs/

# Other
*.spec
*.user
*.log