# فایل‌های بزرگ و غیرضروری
*.mp4
*.avi
*.mkv

# فایل‌های موقت ویندوز
Thumbs.db
desktop.ini

# فایل‌های پشتیبان
*Backup*
*backup*

# فایل‌های خروجی پایتون
__pycache__/
*.pyc
*.pyo
*.pyd

# محیط مجازی پایتون
venv/
env/
ENV/

# فایل‌های IDE
.vscode/
.idea/
*.sublime-workspace

# فایل‌های Word (اختیاری - اگر نمی‌خواهید آپلود شوند)
*.docx
*.doc

# فایل‌های لاگ
*.log